.navbutton {
    background-color: royalblue;
    color: beige;
    border: none;
    border-radius: 0.8vw;
    font-size: 2vmax;
  margin: 0px 0.3vw;
  display: inline;
  padding: 8px 0.6vmax;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  z-index: 2;
  transition-duration: 200ms;
}
.navbutton:hover {
    -webkit-box-shadow: 0px 3px 10px 3px rgba(255,255,205,0.73);
    box-shadow: 0px 3px 10px 3px rgba(255,255,205,0.73);
}
.navbutton:active {
    background-color: royalblue;
    -webkit-box-shadow: 0px 3px 15px 9px rgba(255,255,205,0.73); 
    box-shadow: 0px 3px 15px 9px rgba(255,255,205,0.73);
}
.clear {
    background-color: transparent;
    color: beige;
    border-radius: 0.8vw;
}
.clear:hover {
    background-color: transparent;
    outline: 0.35vw solid royalblue;
}
#info {
  width: 6969%
}
.fullwidth {
  width: calc(100vw - 20px);
}
.nameplate {
  float: left;
    background-color: white;
    color: beige;
    border: none;
    border-radius: 4%;
    font-size: 3.2vmin;
  margin: 0px 6px;
  display: inline-flexbox;
  padding: 2vw;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-weight: 600;
}
#navbar {
    position: fixed;
    right: 12px;
    top: 16px;
    padding:0;

}
body {
  text-align: center;
    background-color: #202224;
    background-image:    url(code_dark.jpg);
    background-attachment: fixed;
    background-size:     cover;        
    background-repeat:   no-repeat;
    color: beige;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-size:2.5vmax;
  padding:0;
  margin:0;
}
iframe {
  background-color: white;
  font-size: 1vmax;
  height: 33vw;
  width: 98%;
  transition: opacity .2s linear;
}
iframe:hover {
  cursor: pointer;
    
}
a {
  color: rgb(80, 124, 255);
}
.main {
    margin: 0;
    left: 0;
    right: 0;
}

.bigtext {
  font-size:4.5vmax;
  font-weight: bold;
}
.smalltext {
  font-size: 1.8vw;
}
.case_container {
  width: 30vw;
  border: 0.25vw solid beige;
  border-radius: 0.8vw;
  padding-bottom: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
    transition-duration: 200ms;
  z-index: -2000;
}
.case_container:hover {
    -webkit-box-shadow: 0px 3px 15px 9px rgba(255,255,205,0.73); 
    box-shadow: 0px 3px 15px 9px rgba(255,255,205,0.73);
}
.grun {
  border: 0.25vw solid lightgreen;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
